{% extends 'base.html.twig' %}

{% block title %}Page de Profil{% endblock %}

{% block body %}

<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        {% include "components/_sidebar.html.twig" %}
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto">
                <div class="col pt-4">
                    <h3 class="text-center" >Bienvenue sur votre profil {{app.user.firstname}}</h3>
                    <p>Gérer vos informations personnelles en cliquant sur <a href="{{ path('profile_infos', {id: app.user.id}) }}"> Vos Informations Personnelles</a></p>

                    <section class=" separator d-flex justify-content-around flex-wrap">
                        <div class="card mt-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center">Informations personnelles</h5>
                                <p class="card-text">{{user.firstname}} {{user.name}}</p>
                                <p class="card-text">Téléphone : {{user.phoneNumber}}</p>
                                <p class="card-text">Convives : {{user.guestBooking}}</p>
                            </div>
                        </div>

                        <div class="card mt-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center">Allergies</h5>
                                {% for allergy in user.allergies %}
                                    <li class="custom-allergy-list">{{ allergy.name}}</li>
                                {% endfor %}                              
                            </div>
                        </div>
                    </section>
                    <hr>
                    <p>Retrouvez toutes vos réservations passées en cliquant sur <a href="{{path('profile_home')}}">Vos Réservations</a> </p>
                </div>
            </main>
        </div>
    </div>
</div>


{% endblock %}
