{% extends 'base.html.twig' %}

{% block title %}Page de plat{% endblock %}

{% block body %}
<main class="container">
    <h1>Modification d'un plat</h1>
    <section>
        <a href="{{ path('manager_dish_list') }}" type="button" class="btn btn-custom my-3">Retour</a>
    </section>
        {{ form_start(form)}}
            {{ form_row(form.name)}}
            {{ form_row(form.description)}}
            {{ form_row(form.price)}}
            {{ form_row(form.categorie)}}
            {% if app.request.attributes.get('_route') == 'manager_dish_edit' %}
                {% for image in dish.images %}
                    <div class="mb-3">
                        <img src=" {{ asset('assets/uploads/dish/mini/30x30-' ~ image.name ) }} " alt="Image" class="mt-2">
                        <a href=" {{ path('manager_dish_delete_image', { id: image.id } ) }} " data-delete data-token=" {{ csrf_token('delete' ~ image.id) }} " >Supprimer</a>
                    </div>
                {% endfor %}
            {% endif %}
            {{ form_row(form.images)}}
            <section>
                <button type="submit" class="btn btn-custom my-3">Modifier</button>
            </section>        
        {{ form_end(form)}}
</main>
{% endblock %}
