{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<main class="container like-dish">
		<div class="col-12 text-center">
			<h1>Bienvenue Au Quai Antique</h1>
			<p>Chambéry</p>
		</div>

		<section class="d-flex justify-content-around flex-wrap">
			{% for dish in dishes %}
				{% if dish.activeHome == true %}
					<div class="card mt-4" style="width: 18rem;">
					{% for image in dish.images %}
						<img src=" {{ asset('assets/uploads/dish/' ~ image.name ) }} " alt="{{dish.name}}"  class="mt-2" title="{{dish.name}}">
					{% endfor %}
					</div>
				{% endif %}
			{% endfor %}
		</section>

		<section class="text-center mt-4">
					<button class="btn btn-custom" href="#" type="button" aria-expanded="false">Réserver</button>
		</section>
		<hr>
		{# vue mobile #}
		<section class="mt-5">
			<table class="table-mobile table-accueil table border-3 justify-content-center">
				<tbody>
					<tr>
						<th scope="row"><img src="{{ asset('assets/images/mountain_brown.svg') }}" class="icon-table-custom"></img></th>
						<td>Terrasse couverte<br>Vue sur la montagne</td>
					</tr>
					<tr>
						<th scope="row"><img src="{{ asset('assets/images/restaurant-table-and-chairs-svgrepo-com.svg') }}" class="icon-table-custom"></img></th>
						<td>200 Places<br>Salle privative pour évènement</td>
					</tr>
					<tr>
						<th scope="row"><img src="{{ asset('assets/images/wheelchair_brown.svg') }}" class="icon-table-custom"></img></th>
						<td>Parking et accès handicapé<br>Dans tout l'établissement</td>
					</tr>
					<tr>
						<th scope="row"><img src="{{ asset('assets/images/parking_brown.svg') }}" class="icon-table-custom"></img></th>
						<td>Parking 80 places<br>Privatisé et sécurisé</td>
					</tr>
				</tbody>
			</table>
		</section>

		{# vue desktop #}
		<section>
			<div class="container d-flex justify-content-center align-items-center table-desktop">
				<div class="row table-desktop">
					<div class="col-5">
						<table  class="table-accueil table border-3">
							<tbody>
								<tr>
									<th scope="row"><img src="{{ asset('assets/images/mountain_brown.svg') }}" class="icon-table-custom"></img></th>
									<td>Terrasse couverte<br>Vue sur la montagne</td>
								</tr>
								<tr>
									<th scope="row"><img src="{{ asset('assets/images/restaurant-table-and-chairs-svgrepo-com.svg') }}" class="icon-table-custom"></img></th>
									<td>200 Places<br>Salle privative pour évènement</td>
								</tr>
							</tbody>	
						</table>
					</div>

					<div class="col-2 img-home">
						<img class="img-home" src="{{ asset('assets/images/restoInt2.jpg') }}" alt="">
					</div>

					<div class="col-5">
						<table class="table-accueil table border-3">
							<tbody>
								<tr>
									<th scope="row"><img src="{{ asset('assets/images/wheelchair_brown.svg') }}" class="icon-table-custom"></img></th>
									<td>Parking et accès handicapé<br>Dans tout l'établissement</td>
								</tr>
								<tr>
									<th scope="row"><img src="{{ asset('assets/images/parking_brown.svg') }}" class="icon-table-custom"></img></th>
									<td>Parking 80 places<br>Privatisé et sécurisé</td>
								</tr>
							</tbody>	
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
