{% extends 'base.html.twig' %}

{% block title %}Hello AdminMenuController!{% endblock %}

{% block body %}
  <div class="mb-4">
      <a type="button" class="btn btn-custom" href="{{ path('admin_home') }}">Retour au panel d'administration</a>
  </div>

  <h1>Liste des menus</h1>

  <a href="{{ path('admin_menu_add') }}" type="button" class="btn btn-custom">
      Ajouter un menu
  </a>



  <table class="table table-bordered">
      <thead>
          <tr class="text-center">
              <td>Nom</td>
              <td>Description</td>
              <td>Image</td>
              <td colspan="2">Actions</td>
              <td colspan="3">Formules</td>
              
          </tr>
      </thead>
      <tbody>
      {% for menu in menus %}
          <tr class="text-center">
              <td>{{ menu.name }}</td>
              <td>{{ menu.description }}</td>
              <td>
              {% for image in menu.images %}
                {# <img src=" {{ asset('assets/uploads/menu/mini/30x30-'~ menu.images[0].name)}} "  alt=" {{menu.name}} "> #}
                <img src=" {{ asset('assets/uploads/menu/mini/30x30-' ~ image.name ) }} " alt="{{menu.name}}" width="30" class="mt-2">
              {% endfor %}
              </td>
              <td>
              <a href="{{ path('admin_menu_edit', {id: menu.id}) }}" type="button" class="btn btn-custom">
                  Modifier
              </a>
              </td>
              <td>
              <a href="#" type="button" class="btn btn-danger modal-trigger-menu" data-bs-toggle="modal" data-bs-target="#modal-delete-menu" data-id="{{ menu.id }}" data-titre = "{{ menu.id }}">
                  Supprimer
              </a>
              </td>
              
              {% for formule in menu.formules %}
                  <td>{{ formule.name }}</td>
              {% endfor %}
              
              

          </tr>
      {% endfor %}
          
      </tbody>
  </table>


  <!-- Modal -->
  <div class="modal fade" id="modal-delete-menu" tabindex="-1" aria-labelledby="modal-delete-menuLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-delete-menuLabel">Supprimer une catégorie</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-menu">
          
        </div>
        <div class="modal-footer modal-footer-menu">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="modal-delete-menu">Fermer</button>
          <a href="#" type="button" class="btn btn-custom">Valider</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
