{% extends 'base.html.twig' %}

{% block title %}Administration - Restaurant - Ajouter{% endblock %}

{% block body %}
<main class="container">
<h1>Ajout d'un restaurant</h1>
        <section>
                <a href="{{ path('manager_restaurant_list') }}" type="button" class="btn btn-custom my-3">Retour</a>
        </section>
        {{ form_start(form)}}
        {{ form_row(form.name) }}
        {{ form_row(form.guestMax) }}
        {{ form_row(form.address) }}
        {{ form_row(form.phoneNumber) }}
        <section>
                <button type="submit" class="btn btn-custom my-3">Ajouter</button>
        </section>
        {{ form_end(form)}}
</main>
{% endblock %}