{% extends 'base.html.twig' %}

{% block title %}Administration - Restaurant{% endblock %}

{% block body %}
<div class="mb-4">
	<a type="button" class="btn btn-custom" href="{{ path('admin_home') }}"><img src="{{ asset('assets/images/arrow-left-circle.svg') }}" alt="">
		panneau d'administration</a>
</div>

<h1>Liste des restaurants</h1>
<div class="mb-4 mt-4">
	<a href="{{ path('manager_restaurant_add') }}" type="button" class="btn btn-custom">
		Ajouter un restaurant
	</a>
</div>

<table class="table table-bordered">
	<thead>
		<tr class="text-center">
			<td>Nom</td>
			<td>Nombre de convives</td>
			<td>Adresse</td>
			<td>Numéro de téléphone</td>
			<td colspan="2">Actions</td>

		</tr>
	</thead>
	<tbody>
		{% for restaurant in restaurants %}
			<tr class="text-center">
				<td>{{ restaurant.name }}</td>
				<td>{{ restaurant.guestMax }}</td>
				<td>{{ restaurant.address }}</td>
				<td>{{ restaurant.phoneNumber }}</td>
				<td>
					<a href="{{ path('manager_restaurant_edit', {id: restaurant.id}) }}" type="button" class="btn btn-success">
						Modifier
					</a>
				</td>
				<td>
					<a href="{{ path('manager_restaurant_delete', {id: restaurant.id}) }}" type="button" class="btn btn-danger">
						Supprimer
					</a>
				</td>
			</tr>
		{% endfor %}

	</tbody>
</table>


{% endblock %}
