{% extends 'base.html.twig' %}

{% block title %}Administration - Carte{% endblock %}

{% block body %}

  <div class="mb-4">
    <a type="button" class="btn btn-custom" href="{{ path('admin_home') }}"><img src="{{ asset('assets/images/arrow-left-circle.svg') }}" alt=""> panneau d'administration</a>
  </div>

  <h1>Liste des plats</h1>

  <div class="mb-4 mt-4">
    <a href="{{ path('admin_dish_add') }}" type="button" class="btn btn-custom">
      Ajouter un plat
    </a>
  </div>
  {{ form_start(form) }}
    {{ form_row(form.words)}}
        <section>
            <button type="submit" class="btn btn-custom btn-lg my-3">Rechercher</button>
    </section>
    {{ form_row(form.categorie)}}
  {{ form_end(form) }}
  <table class="table table-bordered">
      <thead>
          <tr class="text-center">
              <td>Catégorie</td>
              <td>Nom</td>
              <td>Description</td>
              <td>Image</td>
              <td>Prix</td>
              <td>Présent sur Accueil</td>
              <td colspan="2" class="text-center"></td>
          </tr>
      </thead>
      <tbody>
      {% for dish in dishes %}
          <tr class="text-center">
              <td>{{ dish.categorie.name }}</td>
              <td>{{ dish.name }}</td>
              <td>{{ dish.description }}</td>
              
              <td>
              {% for image in dish.images %}
                <img src=" {{ asset('assets/uploads/dish/mini/30x30-' ~ image.name ) }} " alt="{{dish.name}}" width="30" class="mt-2">
              {% endfor %}
              </td>
              <td>{{ dish.price }} €</td>
              <td>
              <div class="form-check form-switch ">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {{ (dish.activeHome) ? 'checked':''}} data-id="{{ dish.id }}">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
              </div>
              
              </td>
              <td>
              <a href="{{ path('admin_dish_edit', {id: dish.id}) }}" type="button" class="btn btn-success">
                  Modifier
              </a>
              </td>
              <td>
            <a href="{{ path('admin_dish_delete', {id: dish.id}) }}" type="button" class="btn btn-danger">
                Supprimer
            </a>
              </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>

{% endblock %}
