{% extends 'base.html.twig' %}

{% block title %}Hello admindishcontroller{% endblock %}

{% block body %}

<div class="mb-4">
    <a type="button" class="btn btn-primary" href="{{ path('admin_home') }}">Retour au panel d'administration</a>
</div>

<h1>liste des plats</h1>

            <a href="{{ path('admin_dish_add') }}" type="button" class="btn btn-primary">
                Ajouter un plat
            </a>

<h3>Tableau des plats avec actions edit & delete</h3>

<table class="table">
    <thead>
        <tr>
            <td>Catégorie</td>
            <td>Nom</td>
            <td>Description</td>
            <td>Prix</td>
            <td colspan="2" class="text-center"></td>
        </tr>
    </thead>
    <tbody>
    {% for dish in dishes %}
        <tr>
            <td>{{ dish.categorie.name }}</td>
            <td>{{ dish.name }}</td>
            <td>{{ dish.description }}</td>
            <td>{{ dish.price }} €</td>
            <td>
            <a href="{{ path('admin_dish_edit', {id: dish.id}) }}" type="button" class="btn btn-primary">
                Modifier
            </a>
            </td>
            <td>
            <a href="#" type="button" class="btn btn-danger modal-trigger-dish" data-bs-toggle="modal" data-bs-target="#modal-delete-dish" data-id="{{ dish.id }}" data-titre = "{{ dish.id }}">
                Supprimer
            </a>
            </td>
        </tr>
    {% endfor %}
        
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modal-delete-dish" tabindex="-1" aria-labelledby="modal-deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-deleteLabel">Supprimer un plat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body-dish">
        
      </div>
      <div class="modal-footer modal-footer-dish">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="modal-delete-dish">Fermer</button>
        <a href="#" type="button" class="btn btn-primary">Valider</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
