{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1>Accuil panel d'administration</h1>

<h3>Card 1 - Carte</h3><a href="{{ path('admin_dish_list') }}">Carte</a>
<h3>Card 1 - Categories</h3><a href="{{ path('admin_category_list') }}">Categories</a>
<h3>Card 2 - Menus</h3><a href="{{ path('admin_menu_list') }}">Menus</a>
<h3>Card 1 - formules</h3><a href="{{ path('admin_formule_list') }}">Formule</a>
<h3>Card 3 - Horaires</h3><a href="{{ path('admin_hours_list') }}">Horaires</a>
<h3>Card 4 - Clients</h3><a href="{{ path('admin_user_home') }}">Clients</a>
<h3>Card 5 - Allergies</h3><a href="{{ path('admin_allergy_list') }}">Allergies</a>
<h3>Card 6 - Accueil</h3>
<h3>Card 7 - Restaurant</h3><a href="{{ path('admin_restaurant_list') }}">Restaurant</a>
<h3>Card 8 - Contacts</h3><a href="{{ path('admin_contact_list') }}">contacts</a>

{% endblock %}
