{% extends 'base.html.twig' %}

{% block title %}Administration - Formules - Ajouter{% endblock %}

{% block body %}
<main class="container">
<h1>Ajout d'une formule</h1>
        <section>
                <a href="{{ path('manager_formule_list') }}" type="button" class="btn btn-custom my-3">Retour</a>
        </section>
        {{ form_start(form)}}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.subtitle) }}
        {{ form_row(form.price) }}

        <section>
                <button type="submit" class="btn btn-custom my-3">Ajouter</button>
        </section>
        {{ form_end(form)}}
</main>
{% endblock %}