<div class="container-fluid footer-custom">
	<footer class=" py-1 my-1  border-top-custom">
		<div class="row">
			<div class="col nav text-center justify-content-center">
				<button href="#" class="btn-custom btn-gray" type="button">Contact</button>
			</div>
			<div class="col nav justify-content-center">
				<span>
					<a class="pe-2 btn btn-social-share">
						<i class="bi bi-facebook icon-custom"></i>
					</a>
					<a class="pe-2 btn btn-social-share">
						<i class="bi bi-twitter icon-custom"></i>
					</a>
					<a class="pe-2 btn btn-social-share">
						<i class="bi bi-instagram icon-custom"></i>
					</a>
				</span>
			</div>
		</div>

		<div class="row">
			<div class="col nav text-center justify-content-center ">
				<div>
					<table class="table-footer table caption-top table-sm table-bordered text-start">
						<caption class="text-center">Horaires de Service</caption>
						<tbody>
						{# {% for hour in hours %}
							<tr>
								<th scope="row">{{ hour.dayOfWeek}}</th>
								<td>{{ hour.openedLunchHour|date("H:i") }} - {{ hour.closedLunchHour|date("H:i") }}</td>
								<td>{{ hour.openedDinnerHour|date("H:i") }} - {{ hour.closedDinnerHour|date("H:i") }}</td>
							</tr>
						{% endfor %} #}
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col nav text-center justify-content-center">
				<div class="text-center">
					<span>Le Quai Antique -&nbsp;</span>
					<span>Rue du Lavoir -&nbsp;</span>
					<span>73000 CHAMBERY</span>
				</div>
			</div>
			<div class="text-center justify-content-center">
				<p>Téléphone : 04.42.16.41.26</p>
			</div>
		</div>
	</div>
</div>
<div class="text-center border-top-custom">
	<div class="d-flex justify-content-around">
		<a href="#" class="text-center">Mentions Légales</a>
		<a href="#" class="text-center">Politique de confidentialité</a>
		<a href="#" class="text-center">Gestion des cookies</a>
	</div>
	<span class="text-center text-muted">© 2022 Company, Inc</span>
</div></footer></div>



