<h4>Horaires de Service</h4>
<table class="table-footer table caption-top table-sm table-bordered text-start">
    <tbody>
    {% for hour in this.hours %}
        <tr>
            <td>{{ hour.dayOfWeek }}</td>
            <td>{{ hour.openedLunchHour|date("H:i") }}</td>
            <td>{{ hour.closedLunchHour|date("H:i")  }}</td>
            <td>{{ hour.openedDinnerHour|date("H:i")  }}</td>
            <td>{{ hour.closedDinnerHour|date("H:i")  }}</td>
        </tr>
    {% endfor %}
        
    </tbody>
</table>