{% extends 'base.html.twig' %}

{% block title %}Admin - Modifier réservations{% endblock %}

{% block body %}
<main class="container">
	<h1>Modification d'une réservation</h1>
	<section>
		<a href="{{ path('admin_booking_list') }}" type="button" class="btn btn-custom my-3">Retour</a>
	</section>
	<section class="container">
		<div class="row">
			<div class="class">
				{{ form_start(form) }}
				<fieldset class="fieldset-register mb-2">
					<legend>Date et heure de la réservation souhaitée</legend>
					{{ form_row(form.dateBooking) }}
					{{ form_row(form.timeBooking) }}

				</fieldset>

				<fieldset class="fieldset-register mb-2">
					<legend>Mon identité</legend>
					{{ form_row(form.name) }}
					{{ form_row(form.firstname) }}

				</fieldset>

				<fieldset class="fieldset-register mb-2">
					<legend>Mes coordonnées</legend>
					{{ form_row(form.email) }}
					{{ form_row(form.phoneNumber) }}
				</fieldset>

				<fieldset class="fieldset-register mb-2">
					<legend>Allergies alimentaires</legend>
					{{ form_row(form.allergies) }}

				</fieldset>

				<fieldset class="fieldset-register mb-2">
					<legend>Informations complémentaires</legend>
					{{ form_row(form.seats) }}
				</fieldset>

				<section>
					<button type="submit" class="btn btn-custom my-3">Modifier</button>
				</section>

				{{ form_end(form) }}
			</div>
		</div>
	</section>
</main>



{% endblock %}
