{# {% for hour in hours %}
        <tr>
            <td>{{ hour.dayOfWeek }}</td>
            <td>{{ hour.openedLunchHour|date("H:i") }}</td>
            <td>{{ hour.closedLunchHour|date("H:i")  }}</td>
            <td>{{ hour.openedDinnerHour|date("H:i")  }}</td>
            <td>{{ hour.closedDinnerHour|date("H:i")  }}</td>
        </tr>
{% endfor %} #}