{% extends 'base.html.twig' %}

{% block title %}Admin - Modifier horaires{% endblock %}

{% block body %}
<main class="container">
<h1>Modification d'un horaire</h1>
        <section>
                <a href="{{ path('admin_hours_list') }}" type="button" class="btn btn-custom my-3">Retour</a>
        </section>
        {{ form_start(form)}}

        {{ form_row(form.dayOfWeek) }}
        {{ form_row(form.sortWeek) }}
        {{ form_row(form.openedLunchHour) }}
        {{ form_row(form.closedLunchHour) }}
        {{ form_row(form.openedDinnerHour) }}
        {{ form_row(form.closedDinnerHour) }}
        <section>
                <button type="submit" class="btn btn-custom my-3">Modifier</button>
        </section>
        {{ form_end(form)}}
</main>


{% endblock %}
