{% extends 'base.html.twig' %}

{% block title %}Administration - Horaires{% endblock %}

{% block body %}

  <div class="mb-4">
      <a type="button" class="btn btn-custom" href="{{ path('admin_home') }}"><img src="{{ asset('assets/images/arrow-left-circle.svg') }}" alt=""> panneau d'administration</a>
  </div>

  <h1>Liste des horaires</h1>
  <div class="mb-4 mt-4">
    <a href="{{ path('admin_hours_add') }}" type="button" class="btn btn-custom">
    Ajouter un horaire
    </a>
  </div>

  <table class="table table-bordered">
      <thead>
          <tr class="text-center">
              <td>Jour</td>
              <td>Placement Semaine</td>
              <td>Midi début</td>
              <td>Midi fin</td>
              <td>Soir début</td>
              <td>Soir fin</td>
              <td colspan="3">Actions</td>
          </tr>
      </thead>
      <tbody>
      {% for hour in hours %}
          <tr class="text-center">
              <td>{{ hour.dayOfWeek }}</td>
              <td>{{ hour.sortWeek }}</td>
              <td>{{ hour.openedLunchHour|date("H:i") }}</td>
              <td>{{ hour.closedLunchHour|date("H:i")  }}</td>
              <td>{{ hour.openedDinnerHour|date("H:i")  }}</td>
              <td>{{ hour.closedDinnerHour|date("H:i")  }}</td>

              <td>
              <a href="{{ path('admin_hours_edit', {id: hour.id}) }}" type="button" class="btn btn-success">
                  Modifier
              </a>
              </td>
              <td>
                <a href="{{ path('admin_hours_duplicate', {id: hour.id}) }}" type="button" class="btn btn-warning">
                    Dupliquer
                </a>
              </td>
              <td>
              <a href="{{ path('admin_hours_delete', {id: hour.id}) }}" type="button" class="btn btn-danger">
                Supprimer
            </a>
              </td>
          </tr>
      {% endfor %}
          
      </tbody>
  </table>


{% endblock %}
